name: Continuous Delivery

on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed
    branches:
      - main

# default: least privileged permissions across all jobs
permissions:
  contents: read

env:
  FORCE_COLOR: 3

jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-release-${{ github.event.workflow_run.head_branch }}
      cancel-in-progress: false

    permissions:
      contents: write

    steps:
      - name: Setup | Checkout Repository on Release Branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
          fetch-depth: 0
          submodules: true

      - name: Setup | Force release branch to be at workflow sha
        run: |
          git reset --hard ${{ github.event.workflow_run.head_sha }}

      - name: Action | Semantic Version Release
        id: release
        uses: python-semantic-release/python-semantic-release@v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          git_committer_name: "github-actions"
          git_committer_email: "actions@users.noreply.github.com"

    outputs:
      released: ${{ steps.release.outputs.released || 'false' }}
      tag: ${{ steps.release.outputs.tag }}

  make_sdist:
    name: Make SDist
    needs: release
    if: ${{ needs.release.outputs.released == 'true' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ needs.release.outputs.tag }}
          fetch-depth: 0
          submodules: true

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Build SDist
        run: uv build --sdist --verbose

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  build_wheels:
    name: Wheel on ${{ matrix.os }}
    needs: release
    if: ${{ needs.release.outputs.released == 'true' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ needs.release.outputs.tag }}
          fetch-depth: 0
          submodules: true

      - uses: pypa/cibuildwheel@v3.3

      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: wheelhouse/*.whl

  upload_all:
    needs: [release, build_wheels, make_sdist]
    if: ${{ needs.release.outputs.released == 'true' }}
    environment: pypi
    permissions:
      id-token: write
      attestations: write
      contents: write
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
          fetch-depth: 0

      - uses: actions/download-artifact@v7
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Generate artifact attestations
        uses: actions/attest-build-provenance@v3.1.0
        with:
          subject-path: "dist/*"

      - uses: pypa/gh-action-pypi-publish@release/v1

      - name: Publish | Upload to GitHub Release Assets
        uses: python-semantic-release/publish-action@v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ needs.release.outputs.tag }}
